/* 
    Dylan Camlis (a.k.a Zatharis Sunzaza)
    Music website
    0710417

    Color pallet (rgb)
    78,0,78 eggplant purple
    69, 169, 169 gray
    134, 134, 134 darker gray
    94, 94, 94 "Zath" gray

    0. Setting up for flex box
    1. Shaping header
    2. Coloring articles
    3. Establishing page size
    4. body setup
    5. List setup
    6. Reference link setup


*/

/* 0. initializing border boxes on everything */
* {
    box-sizing: border-box;  
}

/* 1. Giving the header color, padding and alignment */
header {
    background-color: rgb(78, 0, 78);
    color:white;
    padding: 10px;
    text-align: center;
    align-self: flex-start, center;
}
/* 2. Giving each row/column its own shade to draw the eyes down the page */
article:nth-of-type(1) {
    background-color: rgb(169, 169, 169);
}
article:nth-of-type(2){
    background-color: rgb(134, 134, 134);
}
article:nth-of-type(3){
    background-color: rgb(94, 94, 94);
}
/* 3. Setting the page size to give the flexbox constraints */
header, body, footer{
    max-width: 960px;
    margin: 0 auto;
}
/* 4. setting background color and setting flexbox properties*/
body {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(117, 4, 117);
}
/* 5. resizing album covers and giving the list space to work. */
article li{
    flex-direction: column;
    text-align: left;
    padding: 30px 0 0 30px;
}
article:nth-of-type(3) img{
    width: 25px;
    float: left;
}
/* 6. Setting refrence link to the bottom of the page and coloring it, while making it noticable when hovered over. */
footer{
    align-self: flex-end;
}

a:link{
    color: green;
}

a:visited{
    color:yellow;
}
a:hover{
    text-decoration: none;
}